In [6]:
import pandas as pd
import numpy as np
youtube=pd.read_csv('C:/Users/neslihan.kumbasar/bootcamp/youtube.csv')
youtube
youtube.columns=['sira','derece','kanal_adi','video_sayisi','abone_sayisi','goruntulenme_sayisi']
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
sira                   5000 non-null object
derece                 5000 non-null object
kanal_adi              5000 non-null object
video_sayisi           5000 non-null object
abone_sayisi           5000 non-null object
goruntulenme_sayisi    5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [7]:
youtube.head()

,sira,derece,kanal_adi,video_sayisi,abone_sayisi,goruntulenme_sayisi
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [15]:
eksik_degerli=youtube[(youtube["video_sayisi"].str.strip()=='--')|(youtube["abone_sayisi"].str.strip()=='--')]
display(eksik_degerli.head())
print("Eksik degerli kayit sayisi: ", len(eksik_degerli))

,sira,derece,kanal_adi,video_sayisi,abone_sayisi,goruntulenme_sayisi
17,18th,A+,Vlad and Nikita,53,--,1428274554
108,109th,A,BIGFUN,373,--,941376171
115,116th,A,Bee Kids Games - Children TV,740,--,414535723
142,143rd,A,ChiChi TV Siêu Nhân,421,--,2600394871
143,144th,A,MusicTalentNow,1487,--,3252752212

Eksik degerli kayit sayisi:  390

In [20]:
youtube.nunique()

sira                   5000
derece                    6
kanal_adi              4993
video_sayisi           2286
abone_sayisi           4612
goruntulenme_sayisi    5000
dtype: int64

In [21]:
def goruntulenmeyi_kategorize_et(adet):
    if adet >= 1000000000:
        return 1
    elif adet >= 100000000:
        return 2
    else:
        return 3

In [22]:
youtube["goruntulenme_grup"]=youtube["goruntulenme_sayisi"].apply(goruntulenmeyi_kategorize_et)

In [23]:
display(youtube.head())

,sira,derece,kanal_adi,video_sayisi,abone_sayisi,goruntulenme_sayisi,goruntulenme_grup
0,1st,A++,Zee TV,82757,18752951,20869786591,1
1,2nd,A++,T-Series,12661,61196302,47548839843,1
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082,1
3,4th,A++,SET India,27323,31180559,22675948293,1
4,5th,A++,WWE,36756,32852346,26273668433,1

In [ ]:
youtube.groupby()